ul>li{
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 300;
  padding-top: 10px;
  text-align: center;

}
ul
{
  text-align: center;
  
}

#navi{

  height: 70px;
}

ul li:hover
{
   cursor: pointer;
}

.line
{
  height: 3px;
  width: 120px;
  background: black;
  margin-top: 65px;
  transition: all .5s linear;
}